<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<ul>
			<% articles.forEach(function(article) { %>
				<li>
					<a href="<%=article._id %>">
						Title:<%=article.title %>
					</a>
				</li>
			<% }); %>
		</ul>
		<a href="/">Go Home</a>
	</body>
</html>