<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
        <p>You are not authorized.</p>
        <a href="/user/login">Login</a><br>
        <a href="/">Go Home</a>
	</body>
</html>