<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<p><%=msg %></p>
		<ul>
			<li><a href="/user/register">Register</a></li>
			<li><a href="/user/login">Login</a></li>
			<li><a href="/user/auth/info">User</a></li>
			<li><a href="/user/logout">Logout</a></li>
		</ul>
		<ul>
			<li><a href="/article/post">Post</a></li>
			<li><a href="/article/all">Display</a></li>
		</ul>
	</body>
</html>