<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<form action="/user/register" method="post">
			<p><%=msg %></p>
			<p>Name:<input name="name" type="text" /></p>
			<p>E-mail:<input name="email" type="text" /></p>
			<p>Password:<input name="password" type="password" /></p>
			<p><input type="submit" value="Finish" /></p>
		</form>
		<a href="/">Go Home</a>
	</body>
</html>