<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<form action="/user/password/reset" method="post">
			<p><%=msg %></p>
			<p>E-mail:<input name="email" type="text" /></p>
			<p><input type="submit" value="Send new password" /></p>
		</form>
		<a href="/">Go Home</a>
	</body>
</html>